div {
    padding: 20px;
    background: #854a4a;
}
div div {
    padding: 20px;
    background: #d97777;
}
div div div {
    padding: 20px;
    background: #eda1a1;
}
div div div div {
    padding: 20px;
    background: #f2cbcb;
}
div div div div div {
    padding: 20px;
    background: #faeded;
}
.list {
    background: #fff;
}
.menu {
    padding: 0;
    margin: 0;
}
.menu li {
    display: block;
}
.menu li a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
}
.menu li a:hover {
    color: #cc7e7e;
    text-decoration: underline;
}
.first {
    border-bottom: 5px solid #cc7e7e;
}
.last {
    border-bottom: 3px solid #cc7e7e;
}
.register {
    width: 600px;
    height: 400px;
    background: #cc7e7e;
    margin: 150px auto 0 auto;
    text-align: center;
    border-radius: 6px;
}
form {
    width: 100%;
    min-height: 280px;
}
.register form label {
    font-size: 40px;
    margin: 15px;
    float: left;
}
.register form input {
    float: right;
}
input.submit1 {
    width: 100%;
}
.register a {
    color: #fff;
    font-size: 20px;
}
.register a:hover {
    text-decoration: none;
    color: #915454;
    transition: all 0.5s;
}
input[type="text"], input[type="password"] {
    width: 300px;
    height: 60px;
    font-size: 30px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
}
.submit1 {
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 30px;
    color: #fff;
    background-color: #a14f4f;
    border: none;
    border-bottom: 4px solid #d99898;
}
.submit1:hover {
    transition: all 0.5s;
    background: #f5dcdc;
    color: #915454;
}
.table_1 {
    background: #fff;
    border: 5px solid #915454;
    width: 450px;
    margin-top: 20px;
    margin: 150px auto 0 auto;
    text-align: center;
    font-size: 20px;
}
table {
    border: 2px solid #ad5a5a;
}
td {
    border: 0, 5px solid #915454;
}
tr:nth-child(even) {
    background-color: #d47070;
}
tr:nth-child(odd) {
    background-color: #dea6a6;
}
.color1 {
    background: #994646;
}
.nav {
    margin: 0 auto;
    min-width: 800px;
    height: 80px;
    text-align: center;
    background: #fff;
}
.nav a {
    background: #d47070;
    padding: 7px;
    text-decoration: none;
    font-family: cursive;
    font-weight: inherit;
    color: white;
    border: 1px solid #000;
    border-radius: 8px;
}

.nav a:hover {
	background: #f7abab;
	color: #a15555;
	transition: all 0.5s;
}