<body>
<div>
	<header>
		<h1>
			<a href="">
				<img src="">
			</a>
		</h1>
	</header>
</div>
</body>

<body>
	<div>
		<header>
			
		</header>
		<main>
			<section>
				<article>
					
				</article>
			</section>
		</main>
	</div>
</body>

<body>
	<div>
		<header>
			
		</header>
		<main>
			
		</main>
		<footer>
			<address>
				
			</address>
		</footer>
		<span>
			
		</span>
	</div>
</body>